
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout.cshtml";
}

<h2></h2>
<!-- Hero Start -->
<div class="container-fluid bg-primary py-5 mb-5 hero-header">
    <div class="container py-5">
        <div class="row justify-content-start">
            <div class="col-lg-8 text-center text-lg-start">
                <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5" style="border-color: rgba(256, 256, 256, .3) !important;">DG Hastanesine Hoş Geldiniz </h5>
                <h1 class="display-1 text-white mb-md-4">En İyi Hizmet İçin Buradayız</h1>
                <div class="pt-2">
                    <a href="tel:+9085757423" class="btn btn-light rounded-pill py-md-3 px-md-5 mx-2">Telefon</a>
                    <a href="mailto:dghastanesi@hotmail.com" class="btn btn-outline-light rounded-pill py-md-3 px-md-5 mx-2">Mail</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->
<!-- About Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded" src="~/img/DoktorSet.jpg.jpg" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="mb-4">
                    <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Hakkımızda</h5>
                    <h1 class="display-4">Kendiniz ve Aileniz İçin En İyi Tıbbi Bakım</h1>
                </div>
                <p>DG Mobil Sağlık geliştirdiği çözümler ile kişileri ve kurumları hedeflemektedir. Bu bağlamda 7 gün 24 saat görev yapan Medikal Çağrı Merkezi tüm ihtiyaç sahiplerine sağlıkları ile ilgili çözüm üretmektedir. </p>
                <div class="row g-3 pt-3">
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-user-md text-primary mb-3"></i>
                            <h6 class="mb-0">Nitelikli<small class="d-block text-primary">Doktorlar</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-procedures text-primary mb-3"></i>
                            <h6 class="mb-0">Acil Durum<small class="d-block text-primary">Servis</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-microscope text-primary mb-3"></i>
                            <h6 class="mb-0">Doğru<small class="d-block text-primary">Test</small></h6>
                        </div>
                    </div>
                    <div class="col-sm-3 col-6">
                        <div class="bg-light text-center rounded-circle py-4">
                            <i class="fa fa-3x fa-ambulance text-primary mb-3"></i>
                            <h6 class="mb-0">Ücretsiz<small class="d-block text-primary">Ambulans</small></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Services Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Servis</h5>
            <h1 class="display-4">Mükemmel Tıbbi Hizmetler</h1>
        </div>
        <div class="row g-5">
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-user-md text-white"></i>
                    </div>
                    <h4 class="mb-3">Acil Bakım</h4>
                    <p class="m-0">Sağlığınız İçin. Yanınızdayız! ... kapınızda! Hastanelerimiz. 12 Hastane 2 Tıp Merkezi · Tıbbi Birimlerimiz. 116 Tıbbi Birim</p>
                    <a class="btn btn-lg btn-primary rounded-pill" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-procedures text-white"></i>
                    </div>
                    <h4 class="mb-3">Operasyon & Cerrahi</h4>
                    <p class="m-0">
                        İleri teknolojilerle donatılmış cihaz ve uzman kadromuzla hizmet sunmak amacıyla yola çıktığımız günden beri hasta odaklı yaklaşımımızla sağlık ve memnuniyet en önceliğimizdir.
                    </p>
                    <a class="btn btn-lg btn-primary rounded-pill" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-stethoscope text-white"></i>
                    </div>
                    <h4 class="mb-3">Checkup</h4>
                    <p class="m-0">
                        DG Check Up paketleri ile çok sayıda sağlık değeriniz incelenir. Elde edilen geniş kapsamlı raporla kişisel sağlık haritanız çıkar.
                        Bu harita size mevcut sağlık sorunlarınız ve olası sağlık riskleriniz hakkında bilgi verir.
                    </p>
                    <a class="btn btn-lg btn-primary rounded-pill" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-ambulance text-white"></i>
                    </div>
                    <h4 class="mb-3">Ambulans Servis</h4>
                    <p class="m-0">
                        Acil Yardım Ambulansları; yoğun bakım transferleri ve ilk müdahaleye yönelik tıbbi cihazlar içermektedir. Acil Yardım Ambulanslarında Doktor veya paramedik, acil tıp teknisyeni ve sürücüden oluşan 3 kişilik bir ekip bulunmaktadır.Hava yolu,Deniz yolu ambulanslarımız mevcuttur.
                    </p>
                    <a class="btn btn-lg btn-primary rounded-pill" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-pills text-white"></i>
                    </div>
                    <h4 class="mb-3">Tıp Ve Eczacılık</h4>
                    <p class="m-0">Hastanemize ait eczanemizde her türlü ilaçlarımız mevcuttur.</p>
                    <a class="btn btn-lg btn-primary rounded-pill" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="service-item bg-light rounded d-flex flex-column align-items-center justify-content-center text-center">
                    <div class="service-icon mb-4">
                        <i class="fa fa-2x fa-microscope text-white"></i>
                    </div>
                    <h4 class="mb-3">Kan Testi</h4>
                    <p class="m-0">Kaliteli cihazlarımızla dakkikalar içinde kan testleriniz hazır...</p>
                    <a class="btn btn-lg btn-primary rounded-pill" href="">
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services End -->
<!-- Appointment Start -->
<div class="container-fluid bg-primary my-5 py-5">
    <div class="container py-5">
        <div class="row gx-5">
            <div class="col-lg-6 mb-5 mb-lg-0">
                <div class="mb-4">
                    <h5 class="d-inline-block text-white text-uppercase border-bottom border-5">Randevu</h5>
                    <h1 class="display-4">Kendiniz Ve Aileniz İçin Randevu Alın</h1>
                </div>
                <p class="text-white mb-5">Kolay randevu, profesyonel hizmet</p>
                <a class="btn btn-dark rounded-pill py-3 px-5 me-3" href="">Doktor Bul</a>
                <a class="btn btn-outline-dark rounded-pill py-3 px-5" href="">Daha fazla bilgi edinin</a>
            </div>
            <div class="col-lg-6">
                <div class="bg-white text-center rounded p-5">
                    <h1 class="mb-4">Randevu Alın</h1>
                    <form>
                        <div class="row g-3">
                            <div class="col-12 col-sm-6">
                                <select class="form-select bg-light border-0" style="height: 55px;">
                                    <option selected>Departman Seçiniz</option>
                                    <option value="1">Departman  1</option>
                                    <option value="2">Departman  2</option>
                                    <option value="3">Departman  3</option>
                                </select>
                            </div>
                            <div class="col-12 col-sm-6">
                                <select class="form-select bg-light border-0" style="height: 55px;">
                                    <option selected>Doktor Seçiniz</option>
                                    <option value="1">Doktor 1</option>
                                    <option value="2">Doktor 2</option>
                                    <option value="3">Doktor 3</option>
                                </select>
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="text" class="form-control bg-light border-0" placeholder="Adınız" style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <input type="email" class="form-control bg-light border-0" placeholder="Mail" style="height: 55px;">
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="date" id="date" data-target-input="en yakın">
                                    <input type="text"
                                           class="form-control bg-light border-0 datetimepicker-input"
                                           placeholder="Tarih" data-target="#date" data-toggle="datetimepicker" style="height: 55px;">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="time" id="time" data-target-input="nearest">
                                    <input type="text"
                                           class="form-control bg-light border-0 datetimepicker-input"
                                           placeholder="Saat" data-target="#time" data-toggle="datetimepicker" style="height: 55px;">
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Randevu Alın</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Appointment End -->
<!-- Pricing Plan Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Tıbbi Paketler</h5>
            <h1 class="display-4">Harika Tıbbi Programlar</h1>
        </div>
        <div class="owl-carousel price-carousel position-relative" style="padding: 0 45px 45px 45px;">
            <div class="bg-light rounded text-center">
                <div class="position-relative">
                    <img class="img-fluid rounded-top" src="~/img/price-1.jpg" alt="">
                    <div class="position-absolute w-100 h-100 top-50 start-50 translate-middle rounded-top d-flex flex-column align-items-center justify-content-center" style="background: rgba(29, 42, 77, .8);">
                        <h3 class="text-white">Hamilelik Bakımı</h3>
                        <h1 class="display-4 text-white mb-0">
                            <small class="align-top fw-normal" style="font-size: 22px; line-height: 45px;">₺</small>5500<small class="align-bottom fw-normal" style="font-size: 16px; line-height: 40px;"></small>
                        </h1>
                    </div>
                </div>
                <div class="text-center py-5">
                    <p>Acil Tıbbi Tedavi</p>
                    <p>Yüksek Deneyimli Doktorlar</p>
                    <p>En Yüksek Başarı Oranı</p>
                    <p>Telefon Hizmeti</p>
                    <a href="" class="btn btn-primary rounded-pill py-3 px-5 my-2">Şimdi Başvur</a>
                </div>
            </div>
            <div class="bg-light rounded text-center">
                <div class="position-relative">
                    <img class="img-fluid rounded-top" src="~/img/price-2.jpg" alt="">
                    <div class="position-absolute w-100 h-100 top-50 start-50 translate-middle rounded-top d-flex flex-column align-items-center justify-content-center" style="background: rgba(29, 42, 77, .8);">
                        <h3 class="text-white">Sağlık Kontrolü</h3>
                        <h1 class="display-4 text-white mb-0">
                            <small class="align-top fw-normal" style="font-size: 22px; line-height: 45px;">₺</small>3000<small class="align-bottom fw-normal" style="font-size: 16px; line-height: 40px;"></small>
                        </h1>
                    </div>
                </div>
                <div class="text-center py-5">
                    <p>Acil Tıbbi Tedavi</p>
                    <p>Yüksek Deneyimli Doktorlar</p>
                    <p>En Yüksek Başarı Oranı</p>
                    <p>Telefon Hizmeti</p>
                    <a href="" class="btn btn-primary rounded-pill py-3 px-5 my-2">Şimdi başvurun</a>
                </div>
            </div>
            <div class="bg-light rounded text-center">
                <div class="position-relative">
                    <img class="img-fluid rounded-top" src="~/img/price-3.jpg" alt="">
                    <div class="position-absolute w-100 h-100 top-50 start-50 translate-middle rounded-top d-flex flex-column align-items-center justify-content-center" style="background: rgba(29, 42, 77, .8);">
                        <h3 class="text-white">Diş Bakımı</h3>
                        <h1 class="display-4 text-white mb-0">
                            <small class="align-top fw-normal" style="font-size: 22px; line-height: 45px;">₺</small>1500<small class="align-bottom fw-normal" style="font-size: 16px; line-height: 40px;"></small>
                        </h1>
                    </div>
                </div>
                <div class="text-center py-5">
                    <p>Acil Tıbbi Tedavi</p>
                    <p>Yüksek Deneyimli Doktorlar</p>
                    <p>En Yüksek Başarı Oranı</p>
                    <p>Telefon Hizmeti</p>
                    <a href="" class="btn btn-primary rounded-pill py-3 px-5 my-2">Şimdi başvurun</a>
                </div>
            </div>
            <div class="bg-light rounded text-center">
                <div class="position-relative">
                    <img class="img-fluid rounded-top" src="~/img/price-4.jpg" alt="">
                    <div class="position-absolute w-100 h-100 top-50 start-50 translate-middle rounded-top d-flex flex-column align-items-center justify-content-center" style="background: rgba(29, 42, 77, .8);">
                        <h3 class="text-white">Operasyon & Cerrahi</h3>
                        <h1 class="display-4 text-white mb-0">
                            <small class="align-top fw-normal" style="font-size: 22px; line-height: 45px;">₺</small>3500<small class="align-bottom fw-normal" style="font-size: 16px; line-height: 40px;"></small>
                        </h1>
                    </div>
                </div>
                <div class="text-center py-5">
                    <p>Acil Tıbbi Tedavi</p>
                    <p>Yüksek Deneyimli Doktorlar</p>
                    <p>En Yüksek Başarı Oranı</p>
                    <p>Telefon Hizmeti</p>
                    <a href="" class="btn btn-primary rounded-pill py-3 px-5 my-2">Şimdi başvurun</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Pricing Plan End -->
<!-- Team Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Doktorlarımız</h5>
            <h1 class="display-4">Nitelikli Sağlık Çalışanları</h1>
        </div>
        <div class="owl-carousel team-carousel position-relative">
            <div class="team-item">
                <div class="row g-0 bg-light rounded overflow-hidden">
                    <div class="col-12 col-sm-5 h-100">
                        <img class="img-fluid h-100" src="~/img/team-1.jpg" style="object-fit: cover;">
                    </div>
                    <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                        <div class="mt-auto p-4">
                            <h3>Doktor Adı</h3>
                            <h6 class="fw-normal fst-italic text-primary mb-4">Kardiyoloji Uzmanı</h6>
                            <p class="m-0">Türkiye’de sağlık sektörüne yön veren, uluslararası arenada bilimsel ve tıbbi başarıları ile referans merkezi olan DG Sağlık Grubu Levente…</p>
                        </div>
                        <div class="d-flex mt-auto border-top p-4">
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-item">
                <div class="row g-0 bg-light rounded overflow-hidden">
                    <div class="col-12 col-sm-5 h-100">
                        <img class="img-fluid h-100" src="~/img/team-2.jpg" style="object-fit: cover;">
                    </div>
                    <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                        <div class="mt-auto p-4">
                            <h3>Doktor Adı</h3>
                            <h6 class="fw-normal fst-italic text-primary mb-4">Genel Cerrah</h6>
                            <p class="m-0">Türkiye’de sağlık sektörüne yön veren, uluslararası arenada bilimsel ve tıbbi başarıları ile referans merkezi olan DG Sağlık Grubu Levente…</p>
                        </div>
                        <div class="d-flex mt-auto border-top p-4">
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="team-item">
                <div class="row g-0 bg-light rounded overflow-hidden">
                    <div class="col-12 col-sm-5 h-100">
                        <img class="img-fluid h-100" src="~/img/team-3.jpg" style="object-fit: cover;">
                    </div>
                    <div class="col-12 col-sm-7 h-100 d-flex flex-column">
                        <div class="mt-auto p-4">
                            <h3>Doktor Adı</h3>
                            <h6 class="fw-normal fst-italic text-primary mb-4">Dahiliye</h6>
                            <p class="m-0">Türkiye’de sağlık sektörüne yön veren, uluslararası arenada bilimsel ve tıbbi başarıları ile referans merkezi olan DG Sağlık Grubu Levente…</p>
                        </div>
                        <div class="d-flex mt-auto border-top p-4">
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-3" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-lg btn-primary btn-lg-square rounded-circle" href="#"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->
<!-- Search Start -->
<div class="container-fluid bg-primary my-5 py-5">
    <div class="container py-5">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-white text-uppercase border-bottom border-5">Doktor Bul</h5>
            <h1 class="display-4 mb-4">Bir Sağlık Uzmanı Bulun</h1>
            <h5 class="text-white fw-normal">Türkiye’nin kalbi, sağlıkta "ilklerin" öncüsü DG’in 10’uncu hastanesi ile Ankara’da atıyor.</h5>
        </div>
        <div class="mx-auto" style="width: 100%; max-width: 600px;">
            <div class="input-group">
                <select class="form-select border-primary w-25" style="height: 60px;">
                    <option selected>Departman</option>
                    <option value="1">Departman 1</option>
                    <option value="2">Departman 2</option>
                    <option value="3">Departman 3</option>
                </select>
                <input type="text" class="form-control border-primary w-50" placeholder="Anahtar Kelime">
                <button class="btn btn-dark border-0 w-25">Arama</button>
            </div>
        </div>
    </div>
</div>
<!-- Search End -->
<!-- Testimonial Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Referans</h5>
            <h1 class="display-4">Hastalarımız Hizmetlerimiz Hakkında Ne Diyor?</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="owl-carousel testimonial-carousel">
                    <div class="testimonial-item text-center">
                        <div class="position-relative mb-5">
                            <img class=" ~/img-fluid rounded-circle mx-auto" src="~/img/testimonial-1.jpg" alt="">
                            <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white rounded-circle" style="width: 60px; height: 60px;">
                                <i class="fa fa-quote-left fa-2x text-primary"></i>
                            </div>
                        </div>
                        <p class="fs-4 fw-normal">Böyle özverili personeller olduğu sürece hep geliceğim.</p>
                        <hr class="w-25 mx-auto">
                       
                    </div>
                    <div class="testimonial-item text-center">
                        <div class="position-relative mb-5">
                            <img class=" ~/img-fluid rounded-circle mx-auto" src="~/img/testimonial-3.jpg" alt="">
                            <div class="position-absolute top-100 start-50 translate-middle d-flex align-items-center justify-content-center bg-white rounded-circle" style="width: 60px; height: 60px;">
                                <i class="fa fa-quote-left fa-2x text-primary"></i>
                            </div>
                        </div>
                        <p class="fs-4 fw-normal">Harikasınız,bilgili doktorlarınıza kendimizi emanet ettiğimiz için çok şanslıyız.</p>
                        <hr class="w-25 mx-auto">
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Testimonial End -->
<!-- Blog Start -->
<div class="container-fluid py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5" style="max-width: 500px;">
            <h5 class="d-inline-block text-primary text-uppercase border-bottom border-5">Blog Gönderisi</h5>
            <h1 class="display-4">Son Tıbbi Blog Yazılarımız</h1>
        </div>
        <div class="row g-5">
            <div class="col-xl-4 col-lg-6">
                <div class="bg-light rounded overflow-hidden">
                    <img class=" ~/img-fluid w-100" src="~/img/blog-1.jpg" alt="">
                    <div class="p-4">
                        <a class="h3 d-block mb-3" href=""></a>
                        <p class="m-0">
                            Sevdiklerinizin sağlık durumuna, bakım gereksinimlerine ve ek tercihlerine göre kişiselleştirilmiş bir Bakım Planı geliştirmek için sizinle birlikte çalışacağız.
                        </p>
                    </div>
                    <div class="d-flex justify-content-between border-top p-4">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle me-2" src="~/img/user.jpg" width="25" height="25" alt="">
                            <small>Hakan Çelik</small>
                        </div>
                        <div class="d-flex align-items-center">
                            <small class="ms-3"><i class="far fa-eye text-primary me-1"></i>12345</small>
                            <small class="ms-3"><i class="far fa-comment text-primary me-1"></i>123</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6">
                <div class="bg-light rounded overflow-hidden">
                    <img class="img-fluid w-100" src="~/img/blog-2.jpg" alt="">
                    <div class="p-4">
                        <a class="h3 d-block mb-3" href=""></a>
                        <p class="m-0">
                            444 9 724 numaralı telefondan bizi arayın veya Evde Bakım Danışman ekibimizden geri arama talebinde bulunun. Hizmet yelpazemiz hakkında daha fazla bilgi edinin ve Evde Bakım Profesyonellerinin nasıl yardımcı olabileceğini öğrenin.
                        </p>
                    </div>
                    <div class="d-flex justify-content-between border-top p-4">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle me-2" src="~/img/user.jpg" width="25" height="25" alt="">
                            <small>Emirhan Aydın</small>
                        </div>
                        <div class="d-flex align-items-center">
                            <small class="ms-3"><i class="far fa-eye text-primary me-1"></i>12345</small>
                            <small class="ms-3"><i class="far fa-comment text-primary me-1"></i>123</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6">
                <div class="bg-light rounded overflow-hidden">
                    <img class=" ~/img-fluid w-100" src="~/img/blog-3.jpg" alt="">
                    <div class="p-4">
                        <a class="h3 d-block mb-3" href=""></a>
                        <p class="m-0">
                            Sağlık Danışmanımız istediğiniz hizmeti sizin ve sevdikleriniz için planlar. Ve en doğru Bakım Uzmanını sizin için bulur.
                        </p>
                    </div>
                    <div class="d-flex justify-content-between border-top p-4">
                        <div class="d-flex align-items-center">
                            <img class="rounded-circle me-2" src="~/img/user.jpg" width="25" height="25" alt="">
                            <small>Umut Güven</small>
                        </div>
                        <div class="d-flex align-items-center">
                            <small class="ms-3"><i class="far fa-eye text-primary me-1"></i>12345</small>
                            <small class="ms-3"><i class="far fa-comment text-primary me-1"></i>123</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->
